<div class="container mt-5">
    <div *ngIf="(basketService.BasketSource | async) === null">
        <p>There are no items in your basket</p>
    </div>

    <ng-container >
        <div class="container">
            <app-basket-summary
            (AddItem)="incrementQuantity($event)"
            (RemoveItem)="removeItem($event)"
            ></app-basket-summary>
            <div class="row">
                <div class="col-6 offset-6">
                    <app-order-total></app-order-total>
                    <div class="d-grid">
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
            </div>   

        </div>
    </ng-container>

</div>